%tr{:class => "notification_row #{notification.read_status}" , "data-url" => email_path(notification.email_id)}
  %td.email_link
    = notification.date
  %td.email_link
    = notification.body
  %td.link
    -unless notification.read
      = link_to "Mark as read", notifications_read_path(:id => notification.id) , :class => "btn btn-small btn-primary" , :remote => true , :method => :post