.home.index{

  #notifications_container:after{
   content: "Notifications";
  }

  tr.unread{

  }

  tr.read{
    background-color: lightgray;
  }

  td.email_link {
    cursor: hand;
    cursor: pointer;
  }

}